# Logs
logs
*.log
*-debug.log*
/megalinter-reports/

# Other lock files
yarn.lock

# Dependencies
node_modules

# Build
dist
dist-ssr

# Dotenv
.env
*.local
!.env.local

# Operating system
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.trunk/*
