.container {
  background: var(--color-blue);
  border-radius: 0.8rem;
  min-width: 10rem;
  width: max-content;
  color:white;
  padding: 0 1.2rem;
  padding-bottom: 0.56rem;
  padding-top: 0.9rem;
  outline: none;
  text-transform: uppercase;
  font-size: 1.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  transition-duration: 100ms;
}

.container:hover, .container:focus-visible {
  border-color: var(--color-purple);
}