.container {
  border: 0.2rem dashed var(--color-blue);
  padding: 0.2rem;
  border-radius: 0.8rem;
  position: relative;
  max-width: 19rem;
}

.content{ 
  background: var(--color-blue);
  border-radius: 0.6rem;
  padding: 1.8rem 1.5rem;
}

.content-with-cta { 
  padding: 1.4rem 1rem 2.2rem;
}

.icon{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.25rem;
  height: 2.25rem;
  background: var(--color-dark-purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img{
  margin-bottom: 0.1rem;
  width: 1.3rem;
}

.title, .description {
  color: var(--color-dark-purple);
  text-align: center;
  font-weight: bold;
}

.title{
  font-size: 1.875rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  font-family: Gothiks, Arial, sans-serif;
}

.content-with-cta .title{
  font-size: 2.75rem;
  line-height: 2.4rem;
}

.description {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin-top: 0.2rem;
}

.cta{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: var(--color-dark-purple);
}

