.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.center {
  align-items: center;
}

.error span {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}
