.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.center{
  align-items: center;
}

.container label {
  font-size: 0.81rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--color-purple);
  font-weight: 500;
}

.error span {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}