.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem 6rem;
  position: relative;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.container > *:nth-child(2) {
  margin-top: 0.5rem;
  max-width: 16rem;
}

.container > *:nth-child(3) {
  margin-top: 2rem;
}

.candy-one {
  position: absolute;
  left: 0;
  width: 60%;
  z-index: -1;
  transform: translateY(50%);
  bottom: -1rem;
}

.candy-two {
  position: absolute;
  right: 0;
  width: 60%;
  z-index: -1;
  transform: translateY(45%);
  bottom: -1rem;
}

.orange-worm {
  position: absolute;
  top: 2rem;
  right: -3rem;
  height: 9rem;
}

.blue-worm {
  position: absolute;
  top: 4rem;
  left: -1.5rem;
  height: 12rem;
  transform: scaleX(-1) rotate(-30deg);
}
